<% content_for :title do %>Smashing-Chartjs examples<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <p>Bar Chart</p>
      <div
        data-id="bar-chart"
        data-view="Chartjs"
        data-type="bar"
        data-header="Calories Burned"
        data-colornames="yellow,yellow,yellow,yellow,yellow"
        data-height="400"
        data-width="400"
      ></div>
    </li>


<style type="text/css">
  p {
    text-align: center;
  }
</style>
